.item-create {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 400px;
  margin: auto;

  select,
  input {
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid var(--terciary-color);
    height: 3em;
    font-size: larger;
  }

  button {
    background-color: var(--terciary-color);
    color: white;
    border: none;
    padding: 0.75em;
    border-radius: 5px;
    font-size: larger;
    cursor: pointer;

    &:hover {
      background-color: chartreuse;
    }
  }
}
