$component-padding: 2em

main
  min-width: 100%
  overflow: scroll hidden

#gallery
  height: calc(100% - $component-padding * 2)
  padding: $component-padding
  gap: 2em
  display: flex

  img
    max-height: 50vh
    width: 50vw
    object-fit: cover

  div[class*="item-"]
    padding: 1em
    border-radius: 10px
    border: 5px solid var(--terciary-color)
    background-color: var(--light-color)
    scroll-snap-align: center
    max-width: 90vw
    min-width: 50vw