header {
  background-color: var(--dark-blue);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--light-text-color);
}

main {
  margin: 1em;
}