:root {
  --primary-color: #9b92ff;
  --secondary-color: #fff9d8;
  --terciary-color: #8eb8c8;
  --light-text-color: #ffffff;
  --text-color: #000000;
  --dark-blue: #282c34;
  --darker-blue: #20252a;
  --dark-blue-hover: #20252a;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: hidden scroll;
  background-color: var(--primary-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
